@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root {
  --main-color: #d2aa0c;
  --main-color-light: #f1c40f;
}

/* -------------------------------------------------------------------------------------- */
/* -----------------------------------Main Css ------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

*,
*::before,
*::after {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 7px;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'lato', sans-serif;
  line-height: 1.7;
  font-weight: 400;
  padding: 0 5rem;
  background-color: #fff;
}
